.book {
  &-card {
    min-height: 250px;
    cursor: pointer;
    .card-body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
      border-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.books {
  &-list {
    &-wrapper {
      height: 100%;
    }
  }
  &-main {
    height: 100%;
  }
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
